decompress: &bam_decompress
  description: 'convert Bam to Sam'
  run_when: '"{{fullpath}}" -nt "{{output}}"'
  defaults:
    output: "{{ basename|re_sub('.bam$', '.sam') }}"
  annotate:
    createdWith: "Samtools $(samtools 2>&1 | grep Version)"
  command: |
    samtools view -h {{ fullpath }} > {{ output }}
stats:
  description: 'run flagstats'
  defaults:
    output: "{{ basename|re_sub('.sam$', '.flagstat') }}"
    annotate:
      createdWith: "Samtools $(samtools 2>&1 | grep Version)"
  command: |
    samtools flagstat {{ fullpath }} > {{ output }}
coveragebg:
  description: create a coverage bedgraph
  defaults:
    createdWith: '$(bedtools --version)'
    output: '{{ basename|re_sub(".bam$", "") }}.bedgraph'
  output_files:
    - '{{ output }}'
  command: |
    bedtools genomecov \
        -ibam {{ fullpath }} \
        -bga -split \
        | bgzip -c \
        > {{ output }} ;
        tabix -p bed {{ output }}
htseq_count:
  description: 'Count reads using htseq-count'
  path:
    - /ddn1/vol1/leuven_groups/lts_00002/software/samtools/current
  run_when: '"{{fullpath}}" -nt "{{ output }}"'
  defaults:
    pbs_mem: 4gb
    pbs_group: lp_symbiosys
    pbs_queue: qreg
    pbs_walltime: '23:59:58'
    htseq_stranded: "no"
    htseq_minqual: 5
    genome_gtf_file: "/ddn1/vol1/leuven_groups/lts_00002/lcb/resources/mouse/{{genome_build}}/{{genome_build}}.gtf"
    htseq_idattr: gene_name
    htseq_mode: union
    htseq_feature_type: exon
    output: '{{ sample_name }}.counts'
    readsortout: '{{ sample_name }}.readname.sorted'
  virtualenv: /user/leuven/306/vsc30690/local/vem
  output_files:
    - '{{ output }}'
    - '{{ readsortout }}.bam'
  command: |
    if [ ! -f  "{{ readsortout }}.bam" ];
    then
      samtools sort -n -m 2G \
          "{{ fullpath }}" \
          "{{ readsortout }}" && \
      mad set status temp "{{ readsortout }}.bam";
    fi && \
    htseq-count \
        --format=bam \
        --order=name \
        --idattr={{ htseq_idattr }} \
        --stranded={{ htseq_stranded }} \
        --mode={{ htseq_mode }} \
        --type={{ htseq_feature_type }} \
        {{ readsortout }}.bam \
        "{{ genome_gtf_file }}" \
        > "{{ output }}"
sort_dedup:
  description: Sort and deduplicate the bam file
  run_when: '"{{fullpath}}" -nt "{{ output }}"'
  output_files:
    - '{{ output }}'
    - '{{ output_sort }}'
    - '{{ output_stats }}'
  path:
    - /ddn1/vol1/leuven_groups/lts_00002/software/samtools/current
  defaults:
    pbs_mem: 9Gb
    pbs_queue: qreg
    pbs_walltime: 10:0:0
    pbs_group: lp_symbiosys
    output_sort: '{{ sample_name }}.sort.bam'
    output_stats: '{{ sample_name }}.stats'
    output: '{{ sample_name }}.sort.dedup.bam'
    picard_dir: /ddn1/vol1/leuven_groups/lts_00002/software/picard/current
  command: |
    samtools sort -m 2G {{ fullpath }} {{ sample_name }}.sort;
    java -Xmx8g -Djava.io.tmpdir="/tmp"  \
        -jar "{{picard_dir}}/MarkDuplicates.jar" \
        I="{{ output_sort }}" \
        O="{{ output }}" \
        M="{{ output_stats }}" \
        CREATE_INDEX=true \
        MAX_RECORDS_IN_RAM=5000000 \
        VALIDATION_STRINGENCY=SILENT \
        QUIET=true \
        REMOVE_DUPLICATES=true
mpileup:
  path:
    - /ddn1/vol1/leuven_groups/lts_00002/software/samtools/current/
    - /ddn1/vol1/leuven_groups/lts_00002/software/samtools/current/bcftools/
  defaults:
    mpileup_min_mapq : 1
    mpileup_min_baseq : 13
    mpileup_max_per_bam_depth_snvs : 8000
    mpileup_max_per_bam_depth_indels : 8000
    genome_fasta: "/ddn1/vol1/leuven_groups/lts_00002/lcb/resources/mouse/{{genome_build}}/{{genome_build}}.fa"

  command: |
    samtools mpileup \''
        -d "{{ mpileup_max_per_bam_depth_snvs }}" \
        -L "{{ mpileup_max_per_bam_depth_indels }}" \
        -q "{{ mpileup_min_mapq }}" \
        -Q "{{ mpileup_min_baseq }}" \
        -u -D -S \
        -f "{{ genome_fasta }}" \
        "${bam_files_array[@]}" \
      #   | bcftools view -bvcg - > "${bcf_file}";

      #   "${bam_files_array[@]}" \
      # | "${BCFTOOLS}" view -bvcg - > "${bcf_file}";
