path:
  - /ddn1/vol1/leuven_groups/lts_00002/software/samtools/current/
defaults:
  pbs_mem: 2Gb
  pbs_walltime: '1:0:0'
  pbs_group: lp_symbiosys
command: |
  echo 'Checking {{basename }}'
  (samtools view {{ inputfile }} | head -1 > /dev/null) \
    || ( echo '{{inputfile}} is corrupt';
         echo -e '{{ filename }}\tcorrupt' > '{{basename}}.check' ) \
    && ( echo -e '{{ filename }}\tok' > '{{basename}}.check' )
