nerun_when: '"{{fullpath}}" -nt "{{ bcf_output }}"'
path:
  - /ddn1/vol1/leuven_groups/lts_00002/software/samtools/current/
  - /ddn1/vol1/leuven_groups/lts_00002/software/samtools/current/bcftools/
defaults:
  pbs_mem: 9Gb
  pbs_walltime: '29:59:59'
  pbs_group: lp_symbiosys
  mpileup_min_mapq : 4
  mpileup_min_baseq : 13
  mpileup_max_per_bam_depth_snvs : 8000
  mpileup_max_per_bam_depth_indels : 8000
  bcf_output: '{{ sample_name }}.raw.bcf'
  genome_fasta: "/ddn1/vol1/leuven_groups/lts_00002/lcb/resources/mouse/{{genome_build}}/{{genome_build}}.fa"
output_files:
  - '{{ bcf_output }}'
command: |
  samtools mpileup \
      -d "{{ mpileup_max_per_bam_depth_snvs }}" \
      -L "{{ mpileup_max_per_bam_depth_indels }}" \
      -q "{{ mpileup_min_mapq }}" \
      -Q "{{ mpileup_min_baseq }}" \
      -u -D -S \
      -f "{{ genome_fasta }}" \
      {{ inputfile }} \
    | bcftools view -bvcg - > "{{ bcf_output }}" && \
  bcftools view {{ bcf_output }}
