echo:
  command: |
    echo {{ fullpath }}
  description: Test, echo full path
  type: apply
gzip:
  type: map
  defaults:
    output: "{{ basename }}.gz"
  command: |
    gzip -c {{ fullpath }} > {{ output }}
  description: gzip this file
sleep:
  type: apply
  command: |
    sleep 1
    echo "slept!"
  description: Sleep and echo
