echo:
  command: |
    echo {{ fullpath }}
  description: Test, echo full path
  type: apply
gzip:
  type: map
  defaults:
    output: "{{ basename }}.gz"
  command: |
    gzip -c {{ fullpath }} > {{ output }}
  description: gzip this file
sleep:
  type: apply
  command: |
    sleep 1
    echo "slept!"
  description: Sleep and echo
map:
  type: map
  command: '{{command}}'
  run_when: '"{{ input }}" -nt "{{ output }}"'
  description: Apply a custom command to a file
  defaults:
    input:  '{{ fullpath }}'
    output: '{{ basename }}_out'
    logfile: '{{ basename }}_log'
map2:
  type: map
  command: '{{command}}'
  description: Apply a custom command to two input files to one output file
    - '{{ output }}'
  defaults:
    input1:  '{{ fullpath }}'
    input2:  '{{ fullpath }}_2'
    output: '{{ basename }}_out'
    logfile: '{{ basename }}_log'
