echo:
  command: |
    echo {{ fullpath }}
  description: Test, echo full path
move_here:
  command: 'mv {{ fullpath }} {{ fullmadpath }} .'
  description: Move the file to the current directory
gzip:
  type: self-transformation
  target: "{{ filename }}.gz"
  command: |
    gzip {{ fullpath }}
  description: gzip the file
sleep:
  command: |
    sleep 1
    echo "slept!"
  description: Sleep and echo
