fasta:
  template: fasta
  extensions:
    - fa
    - fasta
    - fna
    - faa
fastq:
  template: fastq
  extensions:
    - fq
    - fastq
bam:
  template: bam
  extensions:
    - bam
sam:
  template: sam
  extensions:
    - sam
vcf:
  template: vcf
  extensions:
    - vcf
bcf:
  template: bcf
  extensions:
    - bcf
bowtiedb:
  template: bowtiedb
  extensions:
    - bt2
    - ebwt
bz2:
  template: bz2
  extensions:
    - bz2
  continue: true
gz:
  template: gz
  extensions:
    - gz
  continue: true