fasta:
  overlay: fasta
  extensions:
    - fa
    - fasta
    - fna
    - faa
fastq:
  overlay: fastq
  extensions:
    - fq
    - fastq
fqz:
  overlay: fqz
  extensions:
    - fqz
    - fqzcomp
bam:
  overlay: bam
  extensions:
    - bam
sam:
  overlay: sam
  extensions:
    - sam
vcf:
  overlay: vcf
  extensions:
    - vcf
bcf:
  overlay: bcf
  extensions:
    - bcf
bowtiedb:
  overlay: bowtiedb
  extensions:
    - bt2
    - ebwt
bz2:
  overlay: bz2
  extensions:
    - bz2
  continue: true
gz:
  overlay: gz
  extensions:
    - gz
  continue: true
txt:
  overlay: txt
  extensions:
    - txt
    - text
  continue: false
counts:
  overlay: counts
  extensions:
    - counts
