template:
  fastq:
    format: fastq
    provider: Illumina
  bam:
    format: bam
  bzip2:
    compression: bz2
  gzip:
    compression: gz
  zip:
    compression: zip
  raw:
    category: raw
    keep:  18
    backup: yes
  intermediate:
    category: intermediate
    keep: 6
    backup: no
  result:
    category: result
    keep: 12
    backup: yes
  db:
    category: db
    keep: 24
    backup: no
  trash:
    category: trash
    keep: 0
    backup: no
  uncategorized:
    category: uncategorized
    keep: 12
    backup: no
plugin:
  qdhash:
    module: mad2.plugin.qdhash
  checksum:
    module: mad2.plugin.checksum
  samplesheet:
    module: mad2.plugin.samplesheet
  onthefly:
    module: mad2.plugin.onthefly
  find:
    module: mad2.plugin.find
  select:
    module: mad2.plugin.select
  table:
    module: mad2.plugin.table
  print:
    module: mad2.plugin.print
  x:
    enabled: false
    module: mad2.plugin.x
  init:
    module: mad2.plugin.init
    ext:
      fq:
        template:
          - fastq
      fq.bz2:
        template:
          - fastq
          - bzip2
keywords:
  pi:
    description: Principal Investigator
    type: str
  analyst:
    description: Responsible Bioinformatician
    type: str
  xref:
    description: Database cross reference
    type: str
    cardinality: '+'
  project:
    description: Associated project
    type: str
  organism:
    description: Organism
    type: str
  category:
    description: Data Category
    type: restricted
    cardinality: '1'
    allowed:
      raw: Raw data
      intermediate: Intermediate
      result: Result
      db: Database file
      misc: Important miscellaneous files
      trash: Can be deleted
      uncategorized: Data that needs to be categorized
  keep:
    description: keep for N months after creation - after this period this can be deleted
    type: int
  backup:
    description: This data MUST be backed up
    type: boolean
  backup_until:
    description: make sure this is backed up until this date
    type: date
  is_backup_up:
    description: this data has been backup up
    type: boolean
  backup_date:
    description: the date on which this object has been backed up
    type: date
  backup_provider:
    description: the location/provider where this object is backed up
    type: string
  backup_reference:
    description: reference to retrieve the backed up file
    type: string


