fasta:
  filetype: fasta
counts:
  filetype: count
fastq:
  filetype: fastq
bam:
  filetype: bam
sam:
  filetype: sam
vcf:
  filetype: vcf
bcf:
  filetype: bcf
txt:
  filetype: txt
bowtiedb:
  filetype: bowtiedb
  category: db
bzip2:
  compression: bz2
gz:
  compression: gz
zip:
  compression: zip
fqz:
  compression: fqz-comp
  filetype: fastq
#few datatype sepcific overlays:
backup:
  backup: secure
  delete_after_backup: false
trash:
  backup: nonsafe
  delete_after_backup: true
archive:
  backup: secure
  delete_after_backup: true
raw:
  category: raw
  backup: secure
intermediate:
  category: intermediate
result:
  category: result
  backup: secure
db:
  category: db
trash:
  category: delete
