checksum:
  module: mad2.plugin.checksum
samplesheet:
  module: mad2.plugin.samplesheet
onthefly:
  module: mad2.plugin.onthefly
find:
  module: mad2.plugin.find
select:
  module: mad2.plugin.select
table:
  module: mad2.plugin.table
print:
  module: mad2.plugin.print
cpmv:
  module: mad2.plugin.cpmv
projector:
  module: mad2.plugin.projector
x:
  enabled: true
  module: mad2.plugin.x
root:
  enabled: true
  module: mad2.plugin.root
lcbhacks:
  enabled: true
  module: mad2.plugin.lcbhacks
category:
  module: mad2.plugin.category
mongo:
  module: mad2.plugin.mongo
  enabled: false
  indici:
    - project
    - userid
    - sha1
    - username
    - host
    - filesize
    - dirname
    - category
    - extension
    - basename
