transact: {}
ipyscan: {}
inotify:
  enabled: false
core:
  enabled: true
  module: mad2.plugin.core
report:
  enabled: true
  module: mad2.plugin.report
checksum:
  enabled: true
  module: mad2.plugin.checksum
onthefly:
  enabled: true
  module: mad2.plugin.onthefly
set:
  enabled: true
  module: mad2.plugin.madset
find:
  enabled: true
  module: mad2.plugin.find
  ignore:
    - QDSUMS
    - SHA1SUMS
    - SHA1SUMS.META
    - kea.log
select:
  enabled: true
  module: mad2.plugin.select
table:
  enabled: true
  module: mad2.plugin.table
print:
  enabled: true
  module: mad2.plugin.print
provenance:
  enabled: false
  module: mad2.plugin.provenance
root:
  enabled: true
  module: mad2.plugin.root
category:
  enabled: true
  module: mad2.plugin.category
mongo:
  module: mad2.plugin.mongo
  host: localhost
  db: mad2
  collection: dump
  enabled: false
  csum_path: '/user/leuven/306/vsc30690/tmp/csum/csum.{stamp}.yaml'
  indici:
    transact:
      time: 1
    sha1sum2transact:
      sha1sum: 1
      time: 1
    core:
      project: 1
      sha1sum: 1
      pi: 1
    transient:
      save_time: 1
      project: 1
      save_time: 1
      userid: 1
      filename: 1
      sha1sum: 1
      username: 1
      host: 1
      orphan: 1
      filesize: 1
      dirname: 1
      pi: 1
      atime: 1
      category: 1
      extension: 1
      backup: 1
      volume: 1
