transact: {}
ipyscan: {}
core: {}
report: {}
select: {}
table: {}
print: {}
checksum: {}
onthefly: {}
root: {}
madset: {}
category: {}
find: 
  ignore:
    - QDSUMS
    - SHA1SUMS
    - SHA1SUMS.META
    - kea.log
set:
  enabled: false
inotify:
  enabled: false
provenance:
  enabled: false
neo4j:
  enabled: false
mongo:
  module: mad2.plugin.mongo
  host: localhost
  db: mad2
  collection: dump
  enabled: false
  csum_path: '/user/leuven/306/vsc30690/tmp/csum/csum.{stamp}.yaml'
  indici:
    transact:
      time: 1
    sha1sum2transact:
      sha1sum: 1
      time: 1
    core:
      project: 1
      sha1sum: 1
      pi: 1
    transient:
      save_time: 1
      project: 1
      save_time: 1
      userid: 1
      filename: 1
      sha1sum: 1
      username: 1
      host: 1
      orphan: 1
      filesize: 1
      dirname: 1
      pi: 1
      atime: 1
      category: 1
      extension: 1
      backup: 1
      volume: 1
