fasta:
  filetype: fasta
  x:
    index:
      command: 'samtools faidx {{ fullpath }}'
      description: 'Create bam index'
fastq:
  filetype: fastq
bam:
  filetype: bam
sam:
  filetype: sam
  x:
    compress:
      description: 'Convert to Bam'
      defaults:
        output: "{{ basename|re_sub('.sam$', '.bam') }}"
      annotate:
        createdWith: "Samtools $(samtools 2>&1 | grep Version)"
      command: |
        samtools view -Sb {{ fullpath }} > {{ output }}
vcf:
  filetype: vcf
bcf:
  filetype: bcf
bowtiedb:
  filetype: bowtiedb
  category: db
bzip2:
  compression: bz2
gz:
  compression: gz
zip:
  compression: zip
fqz:
  compression: fqz-comp
  filetype: fastq
raw:
  category: raw
  keep: 120
  backup: true
other:
  category: other
  keep: 12
  backup: false
intermediate:
  category: intermediate
  keep: 6
  backup: false
result:
  category: result
  keep: 120
  backup: true
db:
  category: db
  keep: 60
  backup: false
trash:
  category: trash
  keep: 2
  backup: false
