fasta:
  filetype: fasta
  x:
    index: 'samtools faidx {{ fullpath }}'
fastq:
  filetype: fastq
bam:
  filetype: bam
sam:
  filetype: sam
vcf:
  filetype: vcf
bcf:
  filetype: bcf
bowtiedb:
  filetype: bowtiedb
  category: db
bzip2:
  compression: bz2
gz:
  compression: gz
zip:
  compression: zip
raw:
  category: raw
  keep: 120
  backup: true
other:
  category: other
  keep: 12
  backup: false
intermediate:
  category: intermediate
  keep: 6
  backup: false
result:
  category: result
  keep: 120
  backup: true
db:
  category: db
  keep: 60
  backup: false
trash:
  category: trash
  keep: 2
  backup: false