execute_command: |
  {%- if not job_name is defined -%}
    {% set job_name=basename %}
  {%- endif -%}
  ## write pbs submission script
  mkdir -p pbs
  rm -f "./pbs/{{job_name}}.pbs"
  while read line; do
    echo $line >> "./pbs/{{job_name}}.pbs"
  done

  ## check if we need to run
  {% if comm.run_when -%}
  if [[ ! {{ comm["run_when"] }} ]]; then
      echo "-- Skipping '{{ job_name }}'"
      exit 0
  fi{% endif %}

  echo '## starting qsub for: "{{ job_name }}"'
  qsub  -o '{{ pwd }}/pbs/{{ job_name }}.out' \
        -e '{{ pwd }}/pbs/{{ job_name }}.err' \
        -d '{{ pwd }}' \
        -N '{{ job_name }}' \
        './pbs/{{job_name}}.pbs' \
        > './pbs/{{job_name}}.jobid'
