defaults:
  wt_vcf: ''
  output_files:
    - "common.bed"
group_by: all
template: |
  bedtools multiinter \
      -i {% for i in group %}{{ i['inputfile'] }}{% endfor %} \
      > multiinter.table;
  cut -f 4 multiinter.table | sort -n | uniq -c \
      > histogram.txt;
  cat multiinter.table \
      | awk '{if ($4 > 5) print $0}' \
      | cut -f -5 > common.bed;
  {% if wt_vcf %}
  mv common.bed common_i.bed;
  bedtools multiinter -i common_i.bed {{ wt_vcf }} > common.bed;
  {% endif %}
