compress:
  description: 'Compress with fqz-comp'
  url: 'http://sourceforge.net/projects/fqzcomp/'
  defaults:
    output: "{{ basename|re_sub('.f(ast)?q$', '.fqz') }}"
  command: |
    fqz_comp "{{ fullpath }}" "{{ output }}"
tophat_resume:
  description: "Resume Tophat2 Run"
  path:
    - '/ddn1/vol1/leuven_groups/lts_00002/software/tophat2/tophat-2.0.9/bin'
    - '/ddn1/vol1/leuven_groups/lts_00002/software/pigz/current/'
  defaults:
    pbs_mem: 20gb
    threads: 8
    pbs_cpu: nodes=1:ppn=8
    pbs_queue: qlong
    nicename: "{{ basename|replace('.fastq', '')|replace('.fq', '')|replace('.gz', '')|replace('.R1', '')|replace('.R2', '')|replace('-1.pp',, '')|replace('-2.pp', '') }}"
  command: |
    tophat2 -R {{ nicename }}
tophat_paired:
  run_when: '"{{fullpath}}" -nt "{{output1}}"'
  description: "Run Tophat2"
  output_files:
    - '{{ output }}'
  path:
    - '/ddn1/vol1/leuven_groups/lts_00002/software/tophat2/tophat-2.0.9/bin'
    - '/ddn1/vol1/leuven_groups/lts_00002/software/pigz/current/'
  defaults:
    pbs_mem: 8gb
    threads: 8
    pbs_cpu: nodes=1:ppn=8
    pbs_queue: qlong
    pbs_group: lp_symbiosys
    sequencing_center: "Leuven Genomics Core"
    pbs_walltime: "71:0:0"
    genome_fasta: "/ddn1/vol1/leuven_groups/lts_00002/lcb/resources/mouse/{{genome_build}}/{{genome_build}}.fa"
    bowtie2_genome_db: "/ddn1/vol1/leuven_groups/lts_00002/lcb/resources/mouse/{{genome_build}}/{{genome_build}}.bowtie2-2.1.0"
    bowtie2_transcriptome_db: "/ddn1/vol1/leuven_groups/lts_00002/lcb/resources/mouse/{{genome_build}}/{{genome_build}}.transcript.tophat2-2.0.9.bowtie2-2.1.0"
    genome_chrom_sizes: "/ddn1/vol1/leuven_groups/lts_00002/lcb/resources/mouse/{{genome_build}}/{{genome_build}}.chrom.sizes"
    genome_gtf_file: "/ddn1/vol1/leuven_groups/lts_00002/lcb/resources/mouse/{{genome_build}}/{{genome_build}}.gtf"
    library_name: "genomics_core_NL_custom"
    nicename: "{{ basename|replace('.fastq', '')|replace('.fq', '')|replace('.gz', '')|replace('.R1', '')|replace('.R2', '')|replace('-1.pp', '')|replace('-2.pp', '') }}"
    logfile: "{{nicename}}.log"
    output1: "{{sample_name}}.R1.clean.fq.gz"
    input1: "{{fullpath}}"
    input2: "{{fullpath|replace('R1', 'R2') }}"
  command: |
    tophat2 -p {{ threads }} \
       --keep-fasta-order \
       -zpigz \
       --mate-inner-dist 150 \
       --library-type fr-unstranded \
       --read-realign-edit-dist 0 \
       --rg-id '{{ sample_name }}' \
       --rg-sample '{{ sample_name }}' \
       --rg-platform 'ILLUMINA' \
       --rg-library '{{ library_name }}' \
       --rg-center '{{ sequencing_center }}' \
       --rg-date $(date  +"%Y-%m-%dT%H:%M:%S") \
       --transcriptome-index '{{ bowtie2_transcriptome_db }}' \
       --output-dir '{{ sample_name }}' \
       {{ bowtie2_genome_db }} \
       {{ input1 }} {{ input2 }} \
gh_clean_paired:
  run_when: '"{{fullpath}}" -nt "{{output1}}"'
  description: "clean using Gert's scripts"
  output_files:
    - '{{ output1 }}'
    - '{{ output2 }}'
  defaults:
    pbs_mem: 8gb
    _pbs_cpu:
    pbs_queue: qreg
    pbs_walltime: "10:0:0"
    script: '~/s/ngs/bin/mm10/clean_fastq_paired_mm10.sh'
    nicename: "{{ basename|replace('.fastq', '')|replace('.fq', '')|replace('.gz', '')|replace('.R1', '')|replace('.R2', '')|replace('-1.pp', '')|replace('-2.pp', '') }}"
    logfile: "{{nicename}}.log"
    output1: "{{nicename}}.R1.clean.fq.gz"
    output2: "{{nicename}}.R2.clean.fq.gz"
    input1: "{{fullpath}}"
    input2: "{{fullpath|replace('R1', 'R2') }}"
  command: |
    {{ script }} {{ input1 }} {{ input2 }} {{ output1 }} {{ output2 }}
