extract_snps:
  run_when: '"{{ fullpath }}" -nt "{{ vcf_out }}"'
  description: "Extract SNPs using bcftools van vcfutils.pl"
  defaults:
    min_depth: 10
    pbs_walltime: '10:00:00'
    vcf_out: "{{ basename }}.vcf"
  output_files:
    - "{{ vcf_out }}"
  command: |
    bcftools view {{ inputfile }} \
      | grep -v INDEL \
      | vcfutils.pl varFilter -d {{ min_depth }} \
      > {{ vcf_out }}
