echo:
  command: |
    echo {{ fullpath }}
  description: Test, echo full path
  type: apply
  annotate:
    testAnnotate: "with a random value"
gzip:
  type: map
  output_files:
    - '{{ output }}'
  defaults:
    output: "{{ basename }}.gz"
    annotate:
      createdWith: '$(gzip --version 2>&1)'
  command: |
    gzip -c {{ fullpath }} > {{ output }}
  description: gzip this file
sleep:
  type: apply
  command: |
    sleep 1
    echo "slept!"
  description: Sleep and echo
map:
  type: map
  command: '{{command}}'
  run_when: '"{{ input }}" -nt "{{ output }}"'
  description: Apply a custom command to a file
  defaults:
    input:  '{{ fullpath }}'
    outbase: '{{ basename|re_sub("\.{{extension}}$", "") }}'
    logfile: '{{ basename }}_log'
map2:
  type: map
  command: '{{command}}'
  description: Apply a custom command on two input files
  output_files:
    - '{{ output }}'
  defaults:
    input1:  '{{ fullpath }}'
    input2:  '{{ fullpath }}_2'
    output: '{{ basename }}_out'
    logfile: '{{ basename }}_log'
