execute_command: |
  mkdir -p pbs
  rm -f "pbs/{{basename}}.pbs"
  while read line; do
    echo $line >> "pbs/{{basename}}.pbs"
  done
  {% if comm.run_when %}
  if [[ ! {{ comm.run_when }} ]]; then
      echo "Skipping '{{ basename }}'"
      exit 0
  fi
  {% endif %}
  echo '--- starting qsub for: "{{ basename }}"'
  qsub -o "./pbs/{{ basename }}.out" \
    -e "./pbs/{{ basename }}.err" \
    "pbs/{{basename}}.pbs" > "pbs/{{basename}}.jobid"
